.chorus {
  text-align: center;
  font-size: 1.5em;

  display: flex;
  justify-content: center;

  .always {
    // height: 200vh;
  }

  .always__sub {
    // position: sticky;
    // top: 50vh;

    display: block;
    overflow: hidden;

    opacity: 0;

    &.visible {
      opacity: 1;
    }

    $base: 7vh;
    $ratio: 1.618;

    @for $i from 1 through 7 {
      &:nth-child(#{6 - $i}) {
        height: $base * pow($ratio, $i);
      }
    }
  }

  .always__sub--sticky {
    opacity: 1;
  }

  .yours {
    align-self: flex-end;
  }

  .always {
    text-shadow: #{infinite-shadow(7)};
  }
}
