.verse-1 {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -0.5em;

  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1rem [left] 4fr [right] 6fr 1rem;
  grid-gap: 0 1rem;
  grid-auto-rows: min-content;
  justify-content: center;

  @include breakpoint(large) {
    grid-template-columns: 2fr [left] 3fr [right] 4fr 3fr;
  }

  transition: .4s ease-out;

  > * {
    opacity: 0;
    transition: .3s ease;
  }

  .this-is--1,
  .these-are,
  .this-is--2 {
    grid-column: left;
    text-align: right;
  }

  .the-start,
  .your-heart,
  .day-born,
  .the-sun,
  .your-lungs,
  .day-born {
    grid-column: right;
  }

  .this-is--1 {
    // grid-row: 1 / span 4;
  }

  .the-start {
    opacity: 1;
  }

  &.scene-1 {
    .this-is--1 {
      opacity: 1;
    }
  }

  &.scene-2 {
    .this-is--1,
    .your-heart {
      opacity: 1;
    }

    .the-start {
      opacity: 0.2;
    }

    .the-start,
    .your-heart,
    .day-born--1,
    .the-sun,
    .your-lungs,
    .day-born--2 {
      transform: translateY(-1em);
    }
  }

  &.scene-3 {
    .this-is--1,
    .day-born--1 {
      opacity: 1;
    }

    .your-heart {
      opacity: 0.2;
    }

    .the-start,
    .your-heart,
    .day-born--1,
    .the-sun,
    .your-lungs,
    .day-born--2 {
      transform: translateY(-2em);
    }
  }

  &.scene-4 {
    .this-is--1,
    .day-born--1,
    .the-sun {
      opacity: 1;
    }

    .day-born--1 {
      opacity: 0.2;
    }

    .the-start,
    .your-heart,
    .day-born--1,
    .the-sun,
    .your-lungs,
    .day-born--2 {
      transform: translateY(-4em);
    }
  }

  &.scene-5 {
    .these-are,
    .your-lungs {
      opacity: 1;
    }

    .this-is--1,
    .the-sun {
      opacity: 0.2;
    }

    .this-is--1,
    .these-are,
    .this-is--2 {
      transform: translateY(-1em);
    }

    .the-start,
    .your-heart,
    .day-born--1,
    .the-sun,
    .your-lungs,
    .day-born--2 {
      transform: translateY(-5em);
    }
  }

  &.scene-6 {
    .this-is--2,
    .day-born--2 {
      opacity: 1;
    }

    .these-are,
    .your-lungs {
      opacity: 0.2;
    }

    .this-is--1,
    .these-are,
    .this-is--2, {
      transform: translateY(-2em);
    }

    .the-start,
    .your-heart,
    .day-born--1,
    .the-sun,
    .your-lungs,
    .day-born--2 {
      transform: translateY(-6em);
    }
  }

  &.scene-7 {
    transform: translateY(-2em);
    opacity: 0;
  }
}

.verse-1-trigger-scene-1 {
  margin-top: 100vh;
}

@for $i from 1 through 7 {
  .verse-1-trigger-scene-#{$i} {
    width: 2px;
    height: 40vh;
    display: block;
    background-color: lighten(red, $i * 5%);
  }
}

.verse-1-trigger-scene-7 {
  height: 60vh;
}
