@import 'reset';
@import 'variables';
@import 'mixins';
@import 'typography';

html {
  font-size: $root-font-size;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10vmin;
  text-transform: uppercase;
  color: $black;
}


// temporary
p {
  display: inline;
}
