@import "reset";
@import "variables";
@import "mixins";
@import "typography";

@import "verse-1";
@import "verse-2";
@import "chorus";
@import "bridge";
@import "footer";

html {
  font-size: $root-font-size;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 6vmin;
  text-transform: uppercase;
  color: $black;

  @include breakpoint(large) {
    font-size: 6vmin;
  }
}

// temporary
p {
  // display: inline;
}

.verse-1,
.verse-2,
.chorus--1,
.chorus--2,
.chorus--3,
.bridge {
  margin-bottom: 20vmin;
}
